<% layout('layout') %>

<%- include('navbar') %>

<section class=" h-full p-8 ">
    <section class="flex h-4/5 bg-secondary">
        <img src="/src/images/waving.avif" alt="//cat img"
            class="box-content border-r-8 border-r-background rounded-br-full">

  
  <div class="p-16 flex-col space-y-4">
    <h2 class="text-4xl font-semibold">Welcome to PawSeekers!</h2>
    <p class="text-lg">This is a project developed by the students from UTCH BIS Derek Torres, Jaziel Parra, and Jose Arteaga witht the purpose of 
        helping the communities of pet owners. With the use of a GPS collar, a web page, and mobile app we made possible to create a tool
    for any person that lost a pet or wants to help those who lost them.</p>
    
</div>
    </section>

    <section class="py-2 flex-col p-8">
        <div>
        <h2 class="text-3xl font-semibold">How it was developed</h2>
        </div>

        <p class="text-lg">
            Our poject mas made possible with the use of several tools and libraries.
        </p>
        <div class="grid grid-cols-3 gap-3">
        <div>
            <img src="/src/images/React-Logo.png" alt="// react" style="width:128px;height:128px;">
            <h1>React</h1>
            <p>React es una biblioteca de JavaScript utilizada para construir interfaces de usuario interactivas y reactivas en 
               aplicaciones web. React es utilizado principalmente por su capacidad de reutilizar componentes, lo cual resulta en cualidades
               que permiten construir aplicaciones de una manera eficiente y fácil de mantener.</p>
        </div>
        <div>
            <img src="/src/images/Mongodb-Logo.png" alt="// mongodb" style="width:128px;height:128px;">
            <h1>MongoDB</h1>
            <p> Se trata de una base de datos NoSQL que se ha vuelto muy popular en los últimos años debido a su 
                flexibilidad y escalabilidad. MongoDB tiene una caracteristica particularmente distintiva y esa es
                que utiliza un enfoque de almacenamiento basado en documentos BSON, estructuras de datos con formato JSON. </p>
        </div>
        <div>
            <img src="/src/images/ExpressJS-Logo.png" alt="// expressL" style="width:128px;height:128px;">
            <h1>Express JS</h1>
            <p>Express es un framework web ligero y flexible para Node.js, diseñado para simplificar la creación de aplicaciones web y APIs.
               El programa proporciona un enfoque mas centralizado sobre las funcionalidades básicas de Node.js relacionadas con el manejo de 
               solicitudes HTTP y la creación de servidores web.
            </p>
        </div>

        <div>
            <img src="/src/images/React-imagen.png" style="width:128px;height:128px;">
            <h1>React</h1>
            <p>Una de las principales ventajas detras del usu de React fue su compatibildiad con otras tecnilogias, siendo que
               puede ser facilmente utilizado con otras programas y marcos, además de su asombrosa capacidad de desarrollo en aplicaciones
               móviles.</p>
        </div>
        <div>
            <img src="/src/images/Mongodb-Imagen.png" style="width:128px;height:128px;">
            <h1>MongoDB</h1>
            <p>Su almacenamiento individual de datos permitió una representación más natural de los objetos utilizados y sus relaciones en 
                la aplicación, además de que otorgo una mayor capacidad de elección sobre que componentes se mejorarían a continuación o 
                cual necesitaba ser revisado con más detalle.</p>
        </div>
        <div>
            <img src="/src/images/ExpressJS-imagen.png" style="width:128px;height:128px;">
            <h1>Express JS</h1>
            <p>Permitió realizar la definición de rutas HTTP y el manejo de diferentes tipos de solicitudes del mismo tipo, siendo una de las
               características más útiles el paso libre que se dejaba a para la integración de programas de terceros, proveyendo diversas
               funcionalidades adicionales a la aplicación. 
            </p>
        </div>

        </div>

    </section>

    <section class="flex-col p-8 bg-slate-100">
    <section class="flex ">
        <div class="flex-col p-4 space-y-4">
            <h2 class="text-2xl font-semibold">Our Risks and Dangers</h2>
            <p> Las principales problemáticas de la aplicación terminan por ser características que los propios usuarios pueden explotar,
                ya sea mediante la práctica de actividades ilegales, la creación de múltiples cuentas para crear reportes falsos en periodos
                de tiempo muy cortos, ser víctimas de otros usuarios que solo publican comentarios negativos y una falta de compromiso con el
                proposito del proyecto: recuperar a mascotas que se encuentran fuera de su hogar. 
                
                Con eso en mente, la aplicación debera desarrollar medidas de seguridad como la moderación de comentarios y reportes con 
                la ayuda de un desarrollador, la implementación de la norma "solo una cuenta por correo electrónico", la desactivación o 
                verificación de reportes almacenados despúes de cierto limite de tiempo y el requerimiento obigatorio de tener una cuenta 
                registrada por la página para acceder a las funcionalidades de la aplicación. Aunque las ideas mencionadas no eliminen el 
                problema, estas siempre pueden minimizar los daños.</p>
            
        </div>
        <img src="/src/images/Jupiter2.jpeg" alt="//patita" class="rounded-lg  h-64 ">
        
    </section>
    </section>
    

    
</section>