<% layout('layout') %>

<%- include('navbar') %>

<section class=" h-full p-8 ">
    <section class="flex h-4/5 bg-secondary">
        <img src="/src/images/waving.avif" alt="//cat img"
            class="box-content border-r-8 border-r-background rounded-br-full">

  
  <div class="p-16 flex-col space-y-4">
    <h2 class="text-4xl font-semibold">Welcome to PawSeekers!</h2>
    <p class="text-lg">This is a project developed by the students from UTCH BIS Derek Torres, Jaziel Parra, and Jose Arteaga witht the purpose of 
        helping the communities of pet owners. With the use of a GPS collar, a web page, and mobile app we made possible to create a tool
    for any person that lost a pet or wants to help those who lost them.</p>
    
</div>
    </section>

    <section class="py-2 flex-col p-8">
        <div>
        <h2 class="text-3xl font-semibold">How it was developed</h2>
        </div>

        <p class="text-lg">
            Our poject mas made possible with the use of several tools and libraries.
        </p>
        <div class="grid grid-cols-3 gap-3">
        <div>
            <img>imagen de react
            <h1>React</h1>
            <p>info de react</p>
        </div>
        <div>
            <img>imagen de mongo
            <h1>MongoDB</h1>
            <p>info de mongo</p>
        </div>
        <div>
            <img>imagen de express
            <h1>Express JS</h1>
            <p>info de express</p>
        </div>

        <div>
            <img>imagen de react
            <h1>React</h1>
            <p>info de react</p>
        </div>
        <div>
            <img>imagen de mongo
            <h1>MongoDB</h1>
            <p>info de mongo</p>
        </div>
        <div>
            <img>imagen de express
            <h1>Express JS</h1>
            <p>info de express</p>
        </div>

        </div>

    </section>

    <section class="flex-col p-8 bg-slate-100">
    <section class="flex ">
        <div class="flex-col p-4 space-y-4">
            <h2 class="text-2xl font-semibold">Our Risks and Dangers</h2>
            <p> menciona nuestros problemas con la app y con eso mete nuestra politica de uso y privacidad.</p>
            
        </div>
        <img src="/src/images/Jupiter2.jpeg" alt="//patita" class="rounded-lg  h-64 ">
        
    </section>
    </section>
    

    
</section>