<% layout('layout') %>

<%- include('navbar') %>

<section class=" h-full p-8 ">
    <section class="flex h-1/5 md:flex w-800px bg-secondary ">
        <img src="/src/images/waving.avif" alt="//cat img"
            class="box-content border-r-8 border-r-background rounded-br-full">

  
  <div class="p-16 flex-col space-y-4">
    <h2 class="text-4xl font-semibold">Welcome to PawSeekers!</h2>
    <p class="text-lg">This is a project developed by the students from UTCH BIS Derek Torres, Jaziel Parra, and Jose Arteaga witht the purpose of 
        helping the communities of pet owners. With the use of a GPS collar, a web page, and mobile app we made possible to create a tool
    for any person that lost a pet or wants to help those who lost them.</p>
    
</div>
    </section>

    <section class=" flex-col ">
        <div>
        <h2 class="text-3xl font-semibold">How it was developed</h2>
        </div>

        <p class="text-lg">
            Our poject mas made possible with the use of several tools and libraries.
        </p>
        <div class="grid grid-cols-3 gap-3">
            <div>
                <img src="/src/images/js.png" alt="// react" style="width:128px;height:128px;">
                <h1 class="text-2xl font-semibold ">JavaScript</h1>
                <p class="text-lg">JavaScript is a scripting language used to develop web pages. Developed in Netscape, JS allows developers to create a dynamic and interactive web page to interact with visitors and execute complex actions. It also enables users to load content into a document without reloading the entire page.</p>
            </div>
            <div>
                <img src="/src/images/tail.png" alt="// mongodb" style="width:128px;height:128px;">
                <h1 class="text-2xl font-semibold ">TailWind</h1>
                <p class="text-lg"> Tailwind CSS is basically a utility-first CSS framework for rapidly building custom user interfaces. It is a highly customizable, low-level CSS framework that gives you all of the building blocks you need to build bespoke designs without any annoying opinionated styles you have to fight to override. </p>
            </div>
            <div>
                <img src="/src/images/gmap.png" alt="// expressL" style="width:128px;height:128px;">
                <h1 class="text-2xl font-semibold ">Google Maps Api</h1>
                <p class="text-lg">Google Map's API is a robust tool that can be used to create a custom map, a searchable map, check-in functions, display live data synching with location, plan routes, or create a mashup just to name a few.
                </p>
            </div>
    
            <div>
                <img src="/src/images/firebase_logo.png" style="width:128px;height:128px;">
                <h1 class="text-2xl font-semibold ">Firebase</h1>
                <p class="text-lg">The Firebase Realtime Database is a cloud-hosted NoSQL database that lets organizations store and sync data in real time across all of their users' devices. This makes it easy to build apps that are always up to date, even when users are offline.</p>
            </div>
            <div>
                <img src="/src/images/aslogo.png" style="width:128px;height:128px;">
                <h1 class="text-2xl font-semibold ">Android Studio</h1>
                <p class="text-lg">Android Studio is the official Integrated Development Environment (IDE) for Android app development. Android Studio helps you debug and improve the performance of your code, including inline debugging and performance analysis tools. </p>
            </div>
            <div>
                <img src="/src/images/verc.png" style="width:128px;height:128px;">
                <h1 class="text-2xl font-semibold ">Vercel</h1>
                <p class="text-lg">Vercel builds a frontend-as-a-service product—they make it easy for engineers to deploy and run the user facing parts of their applications. 
                </p>
            </div>
    
        <div>
            <img src="/src/images/React-Logo.png" alt="// react" style="width:128px;height:128px;">
            <h1 class="text-2xl font-semibold ">React</h1>
            <p class="text-lg">React is a JavaScript library used to build interactive and reactive user interfaces in web applications. React is used primarily for its ability to reuse components, which results in qualities that allow applications to be built in an efficient and maintainable manner.</p>
        </div>
        <div>
            <img src="/src/images/Mongodb-Logo.png" alt="// mongodb" style="width:128px;height:128px;">
            <h1 class="text-2xl font-semibold ">MongoDB</h1>
            <p class="text-lg"> It is a NoSQL database that has become very popular in recent years due to its
                flexibility and scalability. MongoDB has one particularly distinctive feature and that is
                which uses a storage approach based on BSON documents, JSON-formatted data structures. </p>
        </div>
        <div>
            <img src="/src/images/ExpressJS-Logo.png" alt="// expressL" style="width:128px;height:128px;">
            <h1 class="text-2xl font-semibold ">Express JS</h1>
            <p class="text-lg">Express is a lightweight and flexible web framework for Node.js, designed to simplify the creation of web applications and APIs.
                The program provides a more centralized approach to basic Node.js functionality related to handling
                HTTP requests and the creation of web servers.
            </p>
        </div>

        <div>
            <img src="/src/images/React-imagen.png" style="width:128px;height:128px;">
            <h1 class="text-2xl font-semibold ">React</h1>
            <p class="text-lg">One of the main advantages behind the use of React was its compatibility with other technologies, being that
                it can be easily used with other programs and frameworks, in addition to its amazing application development capacity
                mobile.</p>
        </div>
        <div>
            <img src="/src/images/Mongodb-Imagen.png" style="width:128px;height:128px;">
            <h1 class="text-2xl font-semibold ">MongoDB</h1>
            <p class="text-lg">Its individual data storage allowed a more natural representation of the objects used and their relationships in
                the application, in addition to granting greater choice over which components would be improved next or
                which needed to be reviewed in more detail.</p>
        </div>
        <div>
            <img src="/src/images/ExpressJS-imagen.png" style="width:128px;height:128px;">
            <h1 class="text-2xl font-semibold ">Express JS</h1>
            <p class="text-lg">It allowed the definition of HTTP routes and the handling of different types of requests of the same type, being one of the
                most useful features the free passage that was left for the integration of third-party programs, providing various
                additional functionalities to the application.
            </p>
        </div>

        </div>

    </section>

    <section class="flex-col p-8 bg-slate-100">
    <section class="flex ">
        <div class="flex-col p-4 space-y-4">
            <h2 class="text-2xl font-semibold">Our Risks and Dangers</h2>
            <p> The main problems of the application end up being characteristics that the users themselves can exploit,
                either through the practice of illegal activities, the creation of multiple accounts to create false reports in periods
                very short periods, being victims of other users who only post negative comments, and a lack of commitment to the
                purpose of the project: to recover pets that are outside their home.
                
                With that in mind, the application should develop security measures such as the moderation of comments and reports with
                the help of a developer, the implementation of the "only one account per email" rule, the deactivation or
                verification of stored reports after a certain time limit and the mandatory requirement to have an account
                registered by the page to access the functionalities of the application. Although the above ideas do not eliminate the problem, they can always minimize the damage.
</p>
            
        </div>
        <img src="/src/images/doghelp.jpg" alt="//patita" class="rounded-lg  h-64 ">
        
    </section>
    </section>
    

    
</section>