<footer class="bg-teal-600 px-2 py-2 font-sans">
    
    <p class="text-2xl">PawSeekers© 2023 Todos los derechos reservados</p>
    <div class="flex-col   text-lg">
      <a href="#">Inicio</a>
      <a href="#">Acerca de nosotros</a>
      <a href="#">Servicios</a>
      <a href="#">Contacto</a>
    </div>
</footer>