<footer class="bg-teal-600 px-2 py-2">
    
    Nuestro contactos
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At molestiae temporibus consectetur facilis ipsa
        deleniti veniam, saepe soluta! Iste ex illo molestias rerum reiciendis. Dolore porro assumenda officiis
        nesciunt quod!
        Sit deleniti voluptates ipsam molestiae provident eaque vitae sed, nihil corrupti enim quibusdam ut? Eos
        magni eveniet dolorem maiores quidem provident, itaque ipsum porro, vitae excepturi voluptatum illo nostrum
        rem!
        Vel hic ipsa aliquam? Accusantium voluptatem fugiat, esse earum officia quam quas autem, alias nihil quasi
        maiores cumque atque ex, vero odit! Veniam quam sint sed a quidem atque natus.
    </p>
</footer>