<%- layout('layout') -%>

    <%- include('navbar') -%>

        <section class="flex h-4/5 bg-secondary">
            <img src="/src/images/cat1.jpg" alt="//cat img"
                class="box-content border-r-8 border-r-background rounded-br-full">
            <div class="p-16 flex-col space-y-4">
                <h2 class="text-4xl font-semibold">¡Bienvenido a PawSeekers!</h2>
                <p class="text-lg">Nuestro objetivo es facilitar el rencuentro de personas con sus mascotas perdidas.
                    Proporcionando herramientas y creando una comunidad de apasionados buscadores!</p>
                <button
                    class="bg-sky-400 hover:bg-sky-500 active:bg-sky-600 focus:outline-none focus:ring focus:ring-sky-200 rounded-full px-1 py-1">
                    <a href="/reg" class="p-16 text-lg"> Unete a la busqueda! </a>
                </button>
            </div>
        </section>

        <section class="flex-col p-8 bg-slate-100">
            <section class="flex ">
                <div class="flex-col p-4 space-y-4">
                    <h2 class="text-2xl font-semibold">Perdiste tu mascota?</h2>
                    <p> Crea un reporte. Hacer un reporte es la forma en la que nuestra comunidad podra saber tu historia y por donde comenzar. No hay mejor
                        ayuda que la de alguien sepa lo valioso que es una mascota.</p>
                    <button class="bg-sky-400 hover:bg-sky-500 active:bg-sky-600 focus:outline-none focus:ring focus:ring-sky-200 rounded-full p-2">Genera tu reporte
                    </button>
                </div>
                <img src="/src/images/train-dog.jpg" alt="//patita" class="rounded-lg  h-64 ">
                
            </section>

            <section class="flex">
                <img src="/src/images/join-the-search.jpg" class="rounded-lg box-content h-96" alt="//chavo">
                
                <div class="flex-col p-4 space-y-4">
                    <h2 class="text-2xl">Quiero ayudar</h2>
                    <p>Para buscar reportes es importante haberse resgistrado y tener una sesion. Como miembro de la
                        comunidad de Hachiko puedes revisar los infromes de mascotas perdidas cercanas a tu ubicacion.
                        Es la
                        manera de poder ayudar no solo a nuestra comunidad sino a la comunidad donde vives</p>
                        <button class="bg-sky-400 hover:bg-sky-500 active:bg-sky-600 focus:outline-none focus:ring focus:ring-sky-200 rounded-full p-2">
                            Buscar cerca de mi
                        </button>
                </div>
                
            </section>
        </section>


        <section class="grid grid-cols-5 gap-2">

            <section class="col-start-1 col-span-5 bg-secondary rounded-lg drop-shadow-2xl px-2 py-2">
                <h2 class="text-2xl">Algo mas</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque sed illum nisi ut voluptas?
                    Alias officia minima laboriosam eveniet quia placeat temporibus nihil possimus. Eos eaque fugiat
                    iusto porro? Laborum.</p>

            </section>
            <section class="col-start-1 col-span-5 bg-secondary rounded-lg drop-shadow-2xl px-2 py-2">
                <h2 class="text-2xl">About us</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque sed illum nisi ut voluptas?
                    Alias officia minima laboriosam eveniet quia placeat temporibus nihil possimus. Eos eaque fugiat
                    iusto porro? Laborum.</p>

            </section>
        </section>


        <%- include('footer') -%>