<%- layout('layout') -%>


    <section class="flex bg-cover w-screen h-screen justify-center"
        style="background-image: url('/src/images/dogbg.jpg')">


        <section class=" flex justify-center h-fit mt-auto mb-auto bg-white rounded-lg drop-shadow-2xl p-8 w-fit">
            <div class="flex-col ">
                <form name="loginForm" action="/log" method="post" class="space-y-6">
                    
                    <a href="/" class="flex ntext-blue-700 hover:underline text-4xl items-center font-semibold space-x-2"><img src="/src/images/Logo.png" alt=""><p>PawSeekers</p></a>
                    <h2 class="text-2xl w-fit">Log In</h2>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                        <input name="email" id="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-500 dark:placeholder-gray-400"
                            placeholder="name@company.com">
                    </div>
                    <div id="usrError"></div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Pssword</label>
                        <input type="password" name="password" id="password"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-500 dark:placeholder-gray-400"
                            placeholder="Password">
                    </div>

                    <% if(signinMessage.lenght > 0) { %> 
                        <div> <%= signinMessage %> </div>
                    <% } %>
                    <button type="submit"
                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login
                        to your account</button>
                    No tienes cuenta?
                    <a href="/reg" class="text-blue-700 hover:underline dark:text-blue-500">
                        Registrate
                    </a>

                   
            </div>
        </section>

    </section>
