<% layout('layout') %>

    <%- include('navbar') -%>

        <%# Seekers scree:n %>

            <section class="flex flex-col space-y-4 md:flex-row md:space-y-0 md:space-x-4 place-content-between p-12 ">

                <section class="w-full md:w-2/3">
                    <div id="map" class="map"> </div>

                </section>

                <section id="reports" class="flex flex-col w-1/3 space-y-4">
                    
                    <%- pet.name  %>
                    <div class="bg-teal-500 rounded-t-lg p-2 text-2xl text-white">Missing pets nearby</div>
                    
                </section>
            </section>
            <script src="src/scripts/map.js"></script>
            
     <script async src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>
        &libraries=places&callback=initMap">
        </script>
