<%  %><%- layout('layout') -%>

<%- include('navbar') -%>


<section class="h-full p-8">
    <div class="bg-slate-200 p-8 flex-col">
        <div class="flex">
            <h1 class="text-4xl w-full">Wenas noches Que tal le va? uwu</h1>
            <img src="src/images/RandomHusky.jpg" alt="" class="h-64 w-64">
        </div>

       
        
    </div>


</section>

Hola ester es el perfil



